
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .card-content {
    padding: 4px;
    border-radius: 0 0 2px 2px;
    text-align: center;
    background-color: #f0e9e9de;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}